body {
    background-color: #07210e;
}

.home-container {
    height: 100vh; /* req for horizontal and vertical centering of container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 450px;
    height: 450px;
}

.box-wrapper {
    display: flex;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow:
        0 0 40px rgba(255, 255, 255, 0.8),
        0 0 80px rgba(255, 255, 255, 0.5),
        0 0 120px rgba(255, 255, 255, 0.9);
}

.login-content {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #FCCF9E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
}

.login-content input {
    width: 60%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #FBEAD8;

}

.sign-in-button {
    width: 68%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #1B3815;
    color: #f7dcc4;
    cursor: pointer;
    font-family: Arial;
}

.create-account {
    width: 55%;
    padding: 12px;
    background-color: transparent;
    color: #1B3815;
    border: 2px solid #1B3815;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.login-content h2 {
    font-size: 40px;
    color: #1B3815;
    margin-bottom: 25px;
    margin-top: 50px;
}

.pic {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url("photos/food.png");
    background-size: cover;
    background-position: center;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 62%;
    justify-content: center;
    margin: 10px 0;
}

.divider hr {
    flex: 1;
    height: 1px;
    background-color: #7F6041;
    border: none;
}

.divider span {
    padding: 0 10px;
    color: #7F6041;
    font-size: 20px;
}


